                                                       Data Science Tools and Ecosystem

**Author:**
-  Mesbah

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
-  List of popular laguages for data science
-  Common libraries for data science
-  Data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. Spark
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. ScikitLearn

| Data Science Tools|
|-------------------|
|Python|
|R|
|Julia|

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
3+7

10

In [2]:
4-3

1

In [3]:
##This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
##This will convert 200 minutes to hours by diving by 60
int(200/60)

3